.modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 50px;
  @include borderRadius;
  z-index: 100;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba($clr-secondary, 0.9);
}

.button-close {
  @include btn-close;
  position: absolute;
  top: 12px;
  right: 12px;
}

.form {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  &-field {
    width: 100%;
    padding: 8px 14px;
    @include borderRadius;
  }

  &-label {
    color: $clr-secondary;
    display: block;
    font-size: 1.5rem;
    margin-block-end: 5px;
  }

  #title {
    font-size: 1.25rem;
  }

  #info {
    font-size: 1.125rem;
    min-height: 150px;
    resize: none;
  }

  &-button {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 10px;
    @include borderRadius;
    background-color: $clr-primary;
  }
}
